.dashboard__body{
    flex: 0.85;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.dashboard__body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.dashboard__header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px;
}
.dashboard__header__item{
    padding: 2px 8px;
    margin: 0px 3px;
    height: 20px;
    width: 20px;
}

.dashboard__header__date{
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap:2px;
    padding: 10px;
}

.dashboard__core{
    display: flex;
    width: 100%;
}
.dashboard__ground{
    display: flex;
    width: 100%;
}

.ground__left{
    display: flex;
    flex: 0.5;
    padding: 20px;
}

.linechart__container{
    display: flex;
    flex: 0.5;
    width: 100%;
}